## 📒 Notebook Exploratorio - Evaluación de Calidad de Datos PLANEA

In [1]:
# 📒 Notebook Exploratorio - Evaluación de Calidad de Datos PLANEA

# Paso 1: Cargar librerías necesarias
import pandas as pd
import unidecode
import numpy as np
import matplotlib.pyplot as plt

# Paso 2: Cargar archivo consolidado
df = pd.read_csv("../output/planea/planea_total.csv", encoding="utf-8-sig", low_memory=False)
print(f"✅ Archivo cargado con {df.shape[0]:,} filas y {df.shape[1]} columnas")

# Paso 3: Vista general de las variables
df.info()

# Paso 4: Vista previa del contenido
df.head(3)

✅ Archivo cargado con 321,513 filas y 76 columnas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321513 entries, 0 to 321512
Data columns (total 76 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   ANIO_EVALUACION                       321513 non-null  int64
 1   ENT                                   321513 non-null  object
 2   ENTIDAD                               321513 non-null  object
 3   CLAVE_ESCUELA                         321513 non-null  object
 4   NOMBRE_ESCUELA                        321444 non-null  object
 5   TURNO                                 321513 non-null  object
 6   MUNICIPIO                             321513 non-null  object
 7   LOCALIDAD                             321513 non-null  object
 8   TIPO_ESCUELA                          321513 non-null  object
 9   GRADO_EVALUADO                        321513 non-null  object
 10  GRADO_MARGINACION                     321513 non-null  object
 11  ALUMNOS_PROGRAMADOS                   321513 non-null  int64
 12  ALUMNOS_EVALUADOS_LENGUAJE            321513 non-null  int64
 13  ALUMNOS_EVALUADOS_MATEMATICAS         321513 non-null  int64
 14  PORCENTAJE_EVALUADOS_LENGUAJE         216365 non-null  float64
 15  PORCENTAJE_EVALUADOS_MATEMATICAS      216365 non-null  float64
 16  REPRESENTATIVIDAD_LENGUAJE            321513 non-null  object
 17  REPRESENTATIVIDAD_MATEMATICAS         321513 non-null  object
 18  CONFIABILIDAD_LENGUAJE                107042 non-null  object
 19  CONFIABILIDAD_MATEMATICAS             108292 non-null  object
 20  ESCUELAS_PARECIDAS                    216365 non-null  object
 21  LENGUAJE_CANTIDAD_I                   216335 non-null  object
 22  LENGUAJE_CANTIDAD_II                  216335 non-null  object
 23  LENGUAJE_CANTIDAD_III                 216335 non-null  object
 24  LENGUAJE_CANTIDAD_IV                  216335 non-null  object
 25  LENGUAJE_PCT_I                        321467 non-null  object
 26  LENGUAJE_PCT_II                       321467 non-null  object
 27  LENGUAJE_PCT_III                      321467 non-null  object
 28  LENGUAJE_PCT_IV                       321467 non-null  object
 29  LENGUAJE_PARECIDAS_PCT_I              216365 non-null  float64
 30  LENGUAJE_PARECIDAS_PCT_II             216365 non-null  float64
 31  LENGUAJE_PARECIDAS_PCT_III            216365 non-null  float64
 32  LENGUAJE_PARECIDAS_PCT_IV             216365 non-null  float64
 33  LENGUAJE_NACIONAL_PCT_I               216365 non-null  float64
 34  LENGUAJE_NACIONAL_PCT_II              216365 non-null  float64
 35  LENGUAJE_NACIONAL_PCT_III             216365 non-null  float64
 36  LENGUAJE_NACIONAL_PCT_IV              216365 non-null  float64
 37  MATEMATICAS_CANTIDAD_I                216316 non-null  object
 38  MATEMATICAS_CANTIDAD_II               216316 non-null  object
 39  MATEMATICAS_CANTIDAD_III              216316 non-null  object
 40  MATEMATICAS_CANTIDAD_IV               216316 non-null  object
 41  MATEMATICAS_PCT_I                     321436 non-null  object
 42  MATEMATICAS_PCT_II                    321436 non-null  object
 43  MATEMATICAS_PCT_III                   321436 non-null  object
 44  MATEMATICAS_PCT_IV                    321436 non-null  object
 45  MATEMATICAS_PARECIDAS_PCT_I           216365 non-null  float64
 46  MATEMATICAS_PARECIDAS_PCT_II          216365 non-null  float64
 47  MATEMATICAS_PARECIDAS_PCT_III         216365 non-null  float64
 48  MATEMATICAS_PARECIDAS_PCT_IV          216365 non-null  float64
 49  MATEMATICAS_NACIONAL_PCT_I            216365 non-null  float64
 50  MATEMATICAS_NACIONAL_PCT_II           216365 non-null  float64
 51  MATEMATICAS_NACIONAL_PCT_III          216365 non-null  float64
 52  MATEMATICAS_NACIONAL_PCT_IV           216365 non-null  float64
 53  PERCEPCION_BIENESTAR_CANTIDAD_1       105404 non-null  float64
 54  PERCEPCION_BIENESTAR_CANTIDAD_2       105404 non-null  float64
 55  PERCEPCION_BIENESTAR_CANTIDAD_3       105404 non-null  float64
 56  PERCEPCION_BIENESTAR_CANTIDAD_4       105404 non-null  float64
 57  PERCEPCION_BIENESTAR_PCT_1            105404 non-null  float64
 58  PERCEPCION_BIENESTAR_PCT_2            105404 non-null  float64
 59  PERCEPCION_BIENESTAR_PCT_3            105404 non-null  float64
 60  PERCEPCION_BIENESTAR_PCT_4            105404 non-null  float64
 61  PERCEPCION_BIENESTAR_PARECIDAS_PCT_1  105404 non-null  float64
 62  PERCEPCION_BIENESTAR_PARECIDAS_PCT_2  105404 non-null  float64
 63  PERCEPCION_BIENESTAR_PARECIDAS_PCT_3  105404 non-null  float64
 64  PERCEPCION_BIENESTAR_PARECIDAS_PCT_4  105404 non-null  float64
 65  PERCEPCION_BIENESTAR_NACIONAL_PCT_1   105404 non-null  float64
 66  PERCEPCION_BIENESTAR_NACIONAL_PCT_2   105404 non-null  float64
 67  PERCEPCION_BIENESTAR_NACIONAL_PCT_3   105404 non-null  float64
 68  PERCEPCION_BIENESTAR_NACIONAL_PCT_4   105404 non-null  float64
 69  MARGINACION_PARECIDAS_ALTO            105404 non-null  float64
 70  MARGINACION_PARECIDAS_MEDIO           105404 non-null  float64
 71  MARGINACION_PARECIDAS_BAJO            105404 non-null  float64
 72  MARGINACION_NACIONAL_ALTO             105404 non-null  float64
 73  MARGINACION_NACIONAL_MEDIO            105404 non-null  float64
 74  MARGINACION_NACIONAL_BAJO             105404 non-null  float64
 75  ARCHIVO_ORIGEN                        321513 non-null  object
dtypes: float64(40), int64(4), object(32)
memory usage: 186.4+ MB

,ANIO_EVALUACION,ENT,ENTIDAD,CLAVE_ESCUELA,NOMBRE_ESCUELA,TURNO,MUNICIPIO,LOCALIDAD,TIPO_ESCUELA,GRADO_EVALUADO,...,PERCEPCION_BIENESTAR_NACIONAL_PCT_2,PERCEPCION_BIENESTAR_NACIONAL_PCT_3,PERCEPCION_BIENESTAR_NACIONAL_PCT_4,MARGINACION_PARECIDAS_ALTO,MARGINACION_PARECIDAS_MEDIO,MARGINACION_PARECIDAS_BAJO,MARGINACION_NACIONAL_ALTO,MARGINACION_NACIONAL_MEDIO,MARGINACION_NACIONAL_BAJO,ARCHIVO_ORIGEN
0,2015,1,AGUASCALIENTES,01DPR0001V,RODRIGO RINCON GALLARDO,MATUTINO,RINCÓN DE ROMOS,RINCON DE ROMOS,General Pública,sexto año de primaria,...,33.3,39.3,11.6,0.0,100.0,0.0,39.2,30.3,29.0,2015_PEB_Escuelas_01.xlsx
1,2015,1,AGUASCALIENTES,01DPR0002U,ANTONIO VENTURA MEDINA,COMPLETO,SAN JOSÉ DE GRACIA,SAN JOSE DE GRACIA,General Pública,sexto año de primaria,...,33.3,39.3,11.6,38.4,32.6,27.7,39.2,30.3,29.0,2015_PEB_Escuelas_01.xlsx
2,2015,1,AGUASCALIENTES,01DPR0003T,BENIGNO CHAVEZ,VESPERTINO,JESÚS MARÍA,JESUS MARIA,General Pública,sexto año de primaria,...,33.3,39.3,11.6,100.0,0.0,0.0,39.2,30.3,29.0,2015_PEB_Escuelas_01.xlsx

### Revisión variable por variable

In [2]:
# Listado completo de columnas
for col in df.columns:
    print(f"\n🔍 Variable: {col}")
    print(df[col].value_counts(dropna=False).head(10))  # Las 10 categorías más frecuentes
    print(f"Tipo: {df[col].dtype} | Nulos: {df[col].isna().sum()} | Únicos: {df[col].nunique()}")

🔍 Variable: ANIO_EVALUACION
ANIO_EVALUACION
2015    105404
2016    105148
2018     76990
2017     33971
Name: count, dtype: int64
Tipo: int64 | Nulos: 0 | Únicos: 4

🔍 Variable: ENT
ENT
30    36701
15    33932
14    22038
21    19955
11    18031
12    14730
24    13733
9     13371
13    12499
19    10940
Name: count, dtype: int64
Tipo: object | Nulos: 0 | Únicos: 33

🔍 Variable: ENTIDAD
ENTIDAD
VERACRUZ            36701
JALISCO             22038
PUEBLA              19955
GUANAJUATO          18031
GUERRERO            14730
HIDALGO             12499
SAN LUIS POTOSI     12072
ESTADO DE MÉXICO    11372
ESTADO DE MEXICO    11147
NUEVO LEON           9867
Name: count, dtype: int64
Tipo: object | Nulos: 0 | Únicos: 41

🔍 Variable: CLAVE_ESCUELA
CLAVE_ESCUELA
09DST0067H    6
26EST0017P    6
14PES0129B    6
26ETV0218Z    6
30DST0116C    6
14DST0001K    6
30DES0012P    6
14DST0002J    6
14DST0003I    6
30DES0015M    6
Name: count, dtype: int64
Tipo: object | Nulos: 0 | Únicos: 119058

🔍 Variable: NOMBRE_ESCUELA
NOMBRE_ESCUELA
EMILIANO ZAPATA              7021
BENITO JUAREZ                6011
VICENTE GUERRERO             4297
MIGUEL HIDALGO Y COSTILLA    3846
MIGUEL HIDALGO               3828
CUAUHTEMOC                   3355
FRANCISCO I. MADERO          3164
NIÑOS HEROES                 3156
IGNACIO ZARAGOZA             2910
JOSEFA ORTIZ DE DOMINGUEZ    2864
Name: count, dtype: int64
Tipo: object | Nulos: 69 | Únicos: 45897

🔍 Variable: TURNO
TURNO
MATUTINO            248460
VESPERTINO           39659
COMPLETO             16357
TIEMPO COMPLETO       7609
DISCONTINUO           3239
COMPLEMENTARIO        2090
JORNADA AMPLIADA      2036
NOCTURNO              1391
AMPLIADO               653
JORNADA AMPLIAD         18
Name: count, dtype: int64
Tipo: object | Nulos: 0 | Únicos: 11

🔍 Variable: MUNICIPIO
MUNICIPIO
PUEBLA                 2866
TIJUANA                2761
GUADALAJARA            2617
ECATEPEC DE MORELOS    2516
IZTAPALAPA             2443
ZAPOPAN                2189
MONTERREY              2048
GUSTAVO A. MADERO      2005
MEXICALI               1955
LEON                   1820
Name: count, dtype: int64
Tipo: object | Nulos: 0 | Únicos: 2644

🔍 Variable: LOCALIDAD
LOCALIDAD
GUADALAJARA                   2618
HEROICA PUEBLA DE ZARAGOZA    2562
ECATEPEC DE MORELOS           2497
TIJUANA                       2427
LEON DE LOS ALDAMA            2176
JUAREZ                        2136
MONTERREY                     2075
ZAPOPAN                       1920
SAN LUIS POTOSI               1581
CIUDAD NEZAHUALCOYOTL         1543
Name: count, dtype: int64
Tipo: object | Nulos: 0 | Únicos: 35834

🔍 Variable: TIPO_ESCUELA
TIPO_ESCUELA
General Pública    129044
GENERAL PÚBLICA     61310
Telesecundaria      30549
Privada             25825
TELESECUNDARIA      14134
Comunitaria         12853
PRIVADA             12033
Indígena            10611
COMUNITARIA          9927
Técnica Pública      7483
Name: count, dtype: int64
Tipo: object | Nulos: 0 | Únicos: 12

🔍 Variable: GRADO_EVALUADO
GRADO_EVALUADO
sexto grado de primaria       76990
sexto año de primaria         73769
SEXTO AÑO DE PRIMARIA         73767
tercer grado de secundaria    33971
tercer año de secundaria      31635
TERCER AÑO DE SECUNDARIA      31381
Name: count, dtype: int64
Tipo: object | Nulos: 0 | Únicos: 6

🔍 Variable: GRADO_MARGINACION
GRADO_MARGINACION
Media              50368
Muy alta o Alta    49321
Muy Alta y Alta    39409
MUY BAJO           38845
ALTO               30329
Baja o Muy baja    22380
Muy alta y Alta    17102
Baja y Muy Baja    16567
BAJO               15429
No identificada    13451
Name: count, dtype: int64
Tipo: object | Nulos: 0 | Únicos: 13

🔍 Variable: ALUMNOS_PROGRAMADOS
ALUMNOS_PROGRAMADOS
35    34858
70    22993
2     14268
3     13505
4     12325
1     12213
5     11059
6     10128
7      8970
80     8749
Name: count, dtype: int64
Tipo: int64 | Nulos: 0 | Únicos: 399

🔍 Variable: ALUMNOS_EVALUADOS_LENGUAJE
ALUMNOS_EVALUADOS_LENGUAJE
35    23784
2     15290
1     14306
3     14230
4     12738
70    11400
5     11260
6     10444
7      9223
8      8657
Name: count, dtype: int64
Tipo: int64 | Nulos: 0 | Únicos: 369

🔍 Variable: ALUMNOS_EVALUADOS_MATEMATICAS
ALUMNOS_EVALUADOS_MATEMATICAS
35    20085
2     15181
1     14256
3     14209
4     12743
5     11288
6     10408
7      9285
8      8678
70     8024
Name: count, dtype: int64
Tipo: int64 | Nulos: 0 | Únicos: 367

🔍 Variable: PORCENTAJE_EVALUADOS_LENGUAJE
PORCENTAJE_EVALUADOS_LENGUAJE
100.0    109387
NaN      105148
97.1       5679
80.0       3930
90.0       3739
85.7       3723
94.3       3608
87.5       3510
75.0       3131
83.3       2742
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 518

🔍 Variable: PORCENTAJE_EVALUADOS_MATEMATICAS
PORCENTAJE_EVALUADOS_MATEMATICAS
NaN      105148
100.0    103111
97.1       7591
94.3       4755
85.7       3962
80.0       3924
90.0       3883
87.5       3413
91.4       3108
75.0       3001
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 518

🔍 Variable: REPRESENTATIVIDAD_LENGUAJE
REPRESENTATIVIDAD_LENGUAJE
SI    309306
NO     12207
Name: count, dtype: int64
Tipo: object | Nulos: 0 | Únicos: 2

🔍 Variable: REPRESENTATIVIDAD_MATEMATICAS
REPRESENTATIVIDAD_MATEMATICAS
SI    308965
NO     12548
Name: count, dtype: int64
Tipo: object | Nulos: 0 | Únicos: 2

🔍 Variable: CONFIABILIDAD_LENGUAJE
CONFIABILIDAD_LENGUAJE
NaN    214471
NO     100852
SI       6190
Name: count, dtype: int64
Tipo: object | Nulos: 214471 | Únicos: 2

🔍 Variable: CONFIABILIDAD_MATEMATICAS
CONFIABILIDAD_MATEMATICAS
NaN    213221
NO      98146
SI      10146
Name: count, dtype: int64
Tipo: object | Nulos: 213221 | Únicos: 2

🔍 Variable: ESCUELAS_PARECIDAS
ESCUELAS_PARECIDAS
NaN                                                                             105148
Generales públicas en el país en los tres niveles de marginación                  7341
Indígenas en el país en los tres niveles de marginación                           6782
Privadas en el país en los tres niveles de marginación                            5881
Comunitarias en el país en los tres niveles de marginación                        5697
Generales públicas en Veracruz en localidades de muy alta y alta marginación      5293
Comunitarias en el país en localidades de muy alta y alta marginación             5179
Generales públicas de Veracruz en localidades de muy alta o alta marginación      5175
Generales públicas de Mexico en localidades de muy alta o alta marginación        3931
Privadas en el país en localidades de baja o muy baja marginación                 3746
Name: count, dtype: int64
Tipo: object | Nulos: 105148 | Únicos: 584

🔍 Variable: LENGUAJE_CANTIDAD_I
LENGUAJE_CANTIDAD_I
NaN    105178
1       17140
2       15721
0       15121
3       13122
4       10940
5        9535
6        8456
7        7656
8        7012
Name: count, dtype: int64
Tipo: object | Nulos: 105178 | Únicos: 139

🔍 Variable: LENGUAJE_CANTIDAD_II
LENGUAJE_CANTIDAD_II
NaN    105178
0       24821
1       20648
2       15293
3       12251
4       10204
5        8921
6        8188
7        7619
8        7092
Name: count, dtype: int64
Tipo: object | Nulos: 105178 | Únicos: 106

🔍 Variable: LENGUAJE_CANTIDAD_III
LENGUAJE_CANTIDAD_III
NaN    105178
0       55910
1       26281
2       17477
3       13440
4       10962
5        8867
6        7608
0.0      7141
7        6278
Name: count, dtype: int64
Tipo: object | Nulos: 105178 | Únicos: 89

🔍 Variable: LENGUAJE_CANTIDAD_IV
LENGUAJE_CANTIDAD_IV
0      110526
NaN    105178
1       28036
2       14656
0.0      9647
3        8545
4        5516
1.0      4877
5        3795
2.0      3224
Name: count, dtype: int64
Tipo: object | Nulos: 105178 | Únicos: 121

🔍 Variable: LENGUAJE_PCT_I
LENGUAJE_PCT_I
0.0      35134
100.0    26168
50.0     15540
33.3      8641
66.7      8443
40.0      5594
25.0      5334
75.0      5124
20.0      4866
60.0      4803
Name: count, dtype: int64
Tipo: object | Nulos: 46 | Únicos: 935

🔍 Variable: LENGUAJE_PCT_II
LENGUAJE_PCT_II
0.0      39708
50.0     17786
33.3     15151
25.0      9816
40.0      9628
100.0     7924
20.0      7184
28.6      6367
42.9      6153
66.7      4930
Name: count, dtype: int64
Tipo: object | Nulos: 46 | Únicos: 807

🔍 Variable: LENGUAJE_PCT_III
LENGUAJE_PCT_III
0.0     88258
20.0     8847
14.3     7529
33.3     7378
25.0     7286
50.0     6561
16.7     5645
12.5     4571
28.6     4039
10.0     3808
Name: count, dtype: int64
Tipo: object | Nulos: 46 | Únicos: 770

🔍 Variable: LENGUAJE_PCT_IV
LENGUAJE_PCT_IV
0.0     178317
2.9       9086
5.7       4542
14.3      3252
20.0      2882
4.3       2840
8.6       2672
1.4       2492
10.0      2489
7.1       2462
Name: count, dtype: int64
Tipo: object | Nulos: 46 | Únicos: 805

🔍 Variable: LENGUAJE_PARECIDAS_PCT_I
LENGUAJE_PARECIDAS_PCT_I
NaN     105148
50.6      6220
70.7      5989
60.2      5921
10.6      5673
51.6      5656
79.0      5333
61.0      5293
60.6      3791
50.0      3571
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 416

🔍 Variable: LENGUAJE_PARECIDAS_PCT_II
LENGUAJE_PARECIDAS_PCT_II
NaN     105148
34.7      9879
32.2      8711
34.1      5957
29.7      5358
24.9      5347
17.0      5333
29.6      5097
37.4      4445
32.8      3756
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 267

🔍 Variable: LENGUAJE_PARECIDAS_PCT_III
LENGUAJE_PARECIDAS_PCT_III
NaN     105148
12.7      7901
3.7       6782
13.4      6543
31.4      5901
8.5       5851
4.1       5245
9.0       5033
10.5      5007
11.7      4359
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 302

🔍 Variable: LENGUAJE_PARECIDAS_PCT_IV
LENGUAJE_PARECIDAS_PCT_IV
NaN    105148
1.1     11845
0.3     11397
1.3     10380
1.0     10189
0.8      9984
0.5      8917
0.9      8487
1.6      8366
2.9      7703
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 185

🔍 Variable: LENGUAJE_NACIONAL_PCT_I
LENGUAJE_NACIONAL_PCT_I
NaN     105148
49.1     76990
49.5     73769
33.8     33971
29.4     31635
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 4

🔍 Variable: LENGUAJE_NACIONAL_PCT_II
LENGUAJE_NACIONAL_PCT_II
NaN     105148
32.9     76990
33.2     73769
40.1     33971
46.0     31635
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 4

🔍 Variable: LENGUAJE_NACIONAL_PCT_III
LENGUAJE_NACIONAL_PCT_III
NaN     105148
15.1     76990
14.6     73769
17.9     33971
18.4     31635
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 4

🔍 Variable: LENGUAJE_NACIONAL_PCT_IV
LENGUAJE_NACIONAL_PCT_IV
NaN    105148
2.8     76990
2.6     73769
8.3     33971
6.1     31635
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 4

🔍 Variable: MATEMATICAS_CANTIDAD_I
MATEMATICAS_CANTIDAD_I
NaN    105197
1       13328
0       13212
2       12402
3       11326
4        9679
5        8452
6        7424
7        6678
8        6308
Name: count, dtype: int64
Tipo: object | Nulos: 105197 | Únicos: 159

🔍 Variable: MATEMATICAS_CANTIDAD_II
MATEMATICAS_CANTIDAD_II
NaN    105197
0       38690
1       26393
2       19232
3       15624
4       13439
5       11409
6        9847
7        8249
8        6864
Name: count, dtype: int64
Tipo: object | Nulos: 105197 | Únicos: 83

🔍 Variable: MATEMATICAS_CANTIDAD_III
MATEMATICAS_CANTIDAD_III
NaN    105197
0       56968
1       29642
2       20196
3       15234
4       12259
0.0      9845
5        9756
6        7692
7        6326
Name: count, dtype: int64
Tipo: object | Nulos: 105197 | Únicos: 74

🔍 Variable: MATEMATICAS_CANTIDAD_IV
MATEMATICAS_CANTIDAD_IV
NaN    105197
0       87269
1       28997
2       17350
3       11693
0.0     11518
4        8214
5        5909
1.0      4809
6        4509
Name: count, dtype: int64
Tipo: object | Nulos: 105197 | Únicos: 139

🔍 Variable: MATEMATICAS_PCT_I
MATEMATICAS_PCT_I
100.0    35569
0.0      29611
50.0     13870
66.7      9572
75.0      6533
33.3      6394
60.0      5450
80.0      5183
40.0      4036
71.4      3655
Name: count, dtype: int64
Tipo: object | Nulos: 77 | Únicos: 984

🔍 Variable: MATEMATICAS_PCT_II
MATEMATICAS_PCT_II
0.0      64661
20.0     12126
25.0     10985
33.3     10614
14.3      8221
50.0      7908
16.7      7609
28.6      5466
12.5      5037
100.0     4012
Name: count, dtype: int64
Tipo: object | Nulos: 77 | Únicos: 688

🔍 Variable: MATEMATICAS_PCT_III
MATEMATICAS_PCT_III
0.0     92721
20.0     8652
14.3     7554
25.0     7312
33.3     7218
16.7     6007
50.0     5783
12.5     4797
10.0     4076
11.1     3922
Name: count, dtype: int64
Tipo: object | Nulos: 77 | Únicos: 695

🔍 Variable: MATEMATICAS_PCT_IV
MATEMATICAS_PCT_IV
0.0      138611
2.9        5903
14.3       4653
20.0       4421
100.0      4197
33.3       3828
25.0       3815
5.7        3635
50.0       3492
16.7       3435
Name: count, dtype: int64
Tipo: object | Nulos: 77 | Únicos: 915

🔍 Variable: MATEMATICAS_PARECIDAS_PCT_I
MATEMATICAS_PARECIDAS_PCT_I
NaN     105148
62.8      6825
62.4      6497
77.5      5545
70.4      5293
77.0      5220
37.0      4956
63.6      4901
60.9      3501
61.4      3419
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 395

🔍 Variable: MATEMATICAS_PARECIDAS_PCT_II
MATEMATICAS_PARECIDAS_PCT_II
NaN     105148
19.0     12912
15.6      6181
18.8      6018
11.8      5721
14.4      5230
29.1      5077
15.8      4453
20.4      4346
22.6      3940
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 212

🔍 Variable: MATEMATICAS_PARECIDAS_PCT_III
MATEMATICAS_PARECIDAS_PCT_III
NaN     105148
10.0      7454
12.9      7175
17.8      6914
6.7       6043
8.1       5608
13.5      5062
13.8      4037
6.9       3956
11.5      3885
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 248

🔍 Variable: MATEMATICAS_PARECIDAS_PCT_IV
MATEMATICAS_PARECIDAS_PCT_IV
NaN    105148
4.0      7699
3.6      7493
5.3      6821
2.6      6609
1.9      6510
3.1      6336
4.3      6314
5.4      5897
4.8      5791
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 189

🔍 Variable: MATEMATICAS_NACIONAL_PCT_I
MATEMATICAS_NACIONAL_PCT_I
NaN     105148
59.1     76990
60.5     73769
64.5     33971
65.4     31635
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 4

🔍 Variable: MATEMATICAS_NACIONAL_PCT_II
MATEMATICAS_NACIONAL_PCT_II
NaN     105148
17.9     76990
18.9     73769
21.8     33971
24.0     31635
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 4

🔍 Variable: MATEMATICAS_NACIONAL_PCT_III
MATEMATICAS_NACIONAL_PCT_III
NaN     105148
14.8     76990
13.8     73769
8.6      33971
7.5      31635
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 4

🔍 Variable: MATEMATICAS_NACIONAL_PCT_IV
MATEMATICAS_NACIONAL_PCT_IV
NaN    105148
8.2     76990
6.8     73769
5.1     33971
3.1     31635
Name: count, dtype: int64
Tipo: float64 | Nulos: 105148 | Únicos: 4

🔍 Variable: PERCEPCION_BIENESTAR_CANTIDAD_1
PERCEPCION_BIENESTAR_CANTIDAD_1
NaN    216109
0.0     25168
1.0     15930
2.0     12769
3.0     10177
4.0      7937
5.0      6122
6.0      4843
7.0      3707
8.0      2981
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 68

🔍 Variable: PERCEPCION_BIENESTAR_CANTIDAD_2
PERCEPCION_BIENESTAR_CANTIDAD_2
NaN    216109
0.0     15300
1.0     11016
2.0      8515
3.0      6745
4.0      5724
5.0      5121
6.0      4660
7.0      4320
8.0      4135
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 52

🔍 Variable: PERCEPCION_BIENESTAR_CANTIDAD_3
PERCEPCION_BIENESTAR_CANTIDAD_3
NaN    216109
0.0     23592
1.0     11099
2.0      7437
3.0      5564
4.0      4478
5.0      3951
6.0      3499
7.0      3247
8.0      2955
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 68

🔍 Variable: PERCEPCION_BIENESTAR_CANTIDAD_4
PERCEPCION_BIENESTAR_CANTIDAD_4
NaN    216109
0.0     55948
1.0     11969
2.0      6848
3.0      5108
4.0      3978
5.0      3156
6.0      2488
7.0      2126
8.0      1698
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 72

🔍 Variable: PERCEPCION_BIENESTAR_PCT_1
PERCEPCION_BIENESTAR_PCT_1
NaN      216109
0.0       25168
100.0      6064
50.0       3404
2.9        2801
33.3       2588
20.0       2016
25.0       1888
14.3       1741
66.7       1723
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 655

🔍 Variable: PERCEPCION_BIENESTAR_PCT_2
PERCEPCION_BIENESTAR_PCT_2
NaN      216109
0.0       15300
50.0       6214
33.3       3837
40.0       2873
100.0      2658
25.0       2298
66.7       2241
42.9       2015
20.0       1936
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 636

🔍 Variable: PERCEPCION_BIENESTAR_PCT_3
PERCEPCION_BIENESTAR_PCT_3
NaN     216109
0.0      23592
50.0      3764
33.3      3057
25.0      2457
20.0      2139
40.0      1955
14.3      1537
28.6      1484
16.7      1471
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 710

🔍 Variable: PERCEPCION_BIENESTAR_PCT_4
PERCEPCION_BIENESTAR_PCT_4
NaN     216109
0.0      55948
2.9       3008
5.7       1779
8.6       1347
14.3      1242
11.4       998
5.9        870
20.0       846
10.0       809
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 718

🔍 Variable: PERCEPCION_BIENESTAR_PARECIDAS_PCT_1
PERCEPCION_BIENESTAR_PARECIDAS_PCT_1
NaN     216109
14.4      5680
35.4      5062
19.4      3228
0.6       2642
32.1      2452
1.1       2413
26.2      2341
40.8      2250
53.8      2075
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 205

🔍 Variable: PERCEPCION_BIENESTAR_PARECIDAS_PCT_2
PERCEPCION_BIENESTAR_PARECIDAS_PCT_2
NaN     216109
36.5      5656
42.6      5089
3.9       4498
42.3      3423
41.2      3228
26.9      2677
41.5      2525
45.7      2371
34.9      2250
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 225

🔍 Variable: PERCEPCION_BIENESTAR_PARECIDAS_PCT_3
PERCEPCION_BIENESTAR_PARECIDAS_PCT_3
NaN     216109
40.9      5684
19.6      5062
33.3      3498
40.2      2539
14.8      2467
23.6      2452
20.7      2426
25.6      2272
47.6      2125
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 234

🔍 Variable: PERCEPCION_BIENESTAR_PARECIDAS_PCT_4
PERCEPCION_BIENESTAR_PARECIDAS_PCT_4
NaN     216109
6.1       5948
2.4       5728
8.2       5656
2.8       4218
2.3       3489
3.6       3395
0.7       2695
0.4       2692
55.3      2588
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 192

🔍 Variable: PERCEPCION_BIENESTAR_NACIONAL_PCT_1
PERCEPCION_BIENESTAR_NACIONAL_PCT_1
NaN     216109
15.8     73769
16.3     31635
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 2

🔍 Variable: PERCEPCION_BIENESTAR_NACIONAL_PCT_2
PERCEPCION_BIENESTAR_NACIONAL_PCT_2
NaN     216109
33.3     73769
29.8     31635
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 2

🔍 Variable: PERCEPCION_BIENESTAR_NACIONAL_PCT_3
PERCEPCION_BIENESTAR_NACIONAL_PCT_3
NaN     216109
39.3     73769
38.1     31635
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 2

🔍 Variable: PERCEPCION_BIENESTAR_NACIONAL_PCT_4
PERCEPCION_BIENESTAR_NACIONAL_PCT_4
NaN     216109
11.6     73769
15.8     31635
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 2

🔍 Variable: MARGINACION_PARECIDAS_ALTO
MARGINACION_PARECIDAS_ALTO
NaN      216109
100.0     48277
0.0       46130
38.4       5656
96.1       1449
90.8       1344
75.1        901
86.6        451
23.9        368
8.0         331
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 11

🔍 Variable: MARGINACION_PARECIDAS_MEDIO
MARGINACION_PARECIDAS_MEDIO
NaN      216109
0.0       70595
100.0     23812
32.6       5656
1.8        1449
4.6        1344
17.1        901
4.0         451
34.5        368
26.2        331
Name: count, dtype: int64
Tipo: float64 | Nulos: 216109 | Únicos: 11

🔍 Variable: MARGINACION_PARECIDAS_BAJO
MARGINACION_PARECIDAS_BAJO
NaN      216109
0.0       72089
100.0     22318
27.7       5656
0.3        1449
1.4        1344
6.6         901
1.3         451
39.8        368
63.4        331

### Limpieza: Variable `ENT`

In [3]:
# Copia original para trazabilidad
df["ENT_ORIGINAL"] = df["ENT"]

# Diagnóstico inicial
print("🔍 Valores únicos antes de limpiar:")
print(sorted(df["ENT"].unique()))

# Verifica si existen valores no convertibles a enteros
ent_invalidos = df[~df["ENT"].astype(str).str.match(r"^\s*\d+\s*$")]

if not ent_invalidos.empty:
    print("\n🚨 Registros con valores no enteros en 'ENT' antes de limpiar:")
    display(ent_invalidos[["ENT", "ANIO_EVALUACION", "ARCHIVO_ORIGEN"]].head(10))
    print(f"Total registros no enteros detectados: {len(ent_invalidos)}")

# Paso 1: Limpieza de caracteres no numéricos
df["ENT"] = (
    df["ENT"]
    .astype(str)
    .str.strip()
    .str.replace(r"[^0-9]", "", regex=True)
)

# Paso 2: Conversión segura a enteros
df["ENT"] = pd.to_numeric(df["ENT"], errors="coerce").astype("Int64")

# Paso 3: Diagnóstico final
print("\n✅ Valores únicos después de limpiar:")
print(sorted(df["ENT"].dropna().unique()))
print(f"Tipo: {df['ENT'].dtype} | Nulos: {df['ENT'].isna().sum()} | Únicos: {df['ENT'].nunique()}")

# Paso 4 (opcional): Mostrar registros con valores faltantes
if df["ENT"].isna().sum() > 0:
    print("\n⚠️ Registros con 'ENT' nulo tras limpieza:")
    display(df[df["ENT"].isna()][["ENT_ORIGINAL", "ANIO_EVALUACION", "ARCHIVO_ORIGEN"]].head(10))

🔍 Valores únicos antes de limpiar:
['1', '10', '11', '12', '13', '14', '15', '16', '16_', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '4', '5', '6', '7', '8', '9']

🚨 Registros con valores no enteros en 'ENT' antes de limpiar:

        ENT  ANIO_EVALUACION             ARCHIVO_ORIGEN
283595  16_             2018  2018_PEB_Escuelas_16.xlsx

Total registros no enteros detectados: 1

✅ Valores únicos después de limpiar:
[np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7), np.int64(8), np.int64(9), np.int64(10), np.int64(11), np.int64(12), np.int64(13), np.int64(14), np.int64(15), np.int64(16), np.int64(17), np.int64(18), np.int64(19), np.int64(20), np.int64(21), np.int64(22), np.int64(23), np.int64(24), np.int64(25), np.int64(26), np.int64(27), np.int64(28), np.int64(29), np.int64(30), np.int64(31), np.int64(32)]
Tipo: Int64 | Nulos: 0 | Únicos: 32

In [4]:
print(sorted(df["ENTIDAD"].unique()))

['AGUASCALIENTES', 'BAJA CALIFORNIA', 'BAJA CALIFORNIA SUR', 'CAMPECHE', 'CHIAPAS', 'CHIHUAHUA', 'CIUDAD DE MEXICO', 'CIUDAD DE MÉXICO', 'COAHUILA', 'COLIMA', 'DURANGO', 'ESTADO DE MEXICO', 'ESTADO DE MÉXICO', 'GUANAJUATO', 'GUERRERO', 'HIDALGO', 'JALISCO', 'MEXICO', 'MICHOACAN', 'MICHOACÁN', 'MORELOS', 'MÉXICO', 'NAYARIT', 'NUEVO LEON', 'NUEVO LEÓN', 'OAXACA', 'PUEBLA', 'QUERETARO', 'QUERÉTARO', 'QUINTANA ROO', 'SAN LUIS POTOSI', 'SAN LUIS POTOSÍ', 'SINALOA', 'SONORA', 'TABASCO', 'TAMAULIPAS', 'TLAXCALA', 'VERACRUZ', 'YUCATAN', 'YUCATÁN', 'ZACATECAS']

### Limpieza: Variable `ENTIDAD`

In [5]:
from unidecode import unidecode

# Diccionario de claves ENT a nombre de entidad
ENTIDADES = {
    1: "AGUASCALIENTES", 2: "BAJA CALIFORNIA", 3: "BAJA CALIFORNIA SUR", 4: "CAMPECHE",
    5: "COAHUILA", 6: "COLIMA", 7: "CHIAPAS", 8: "CHIHUAHUA", 9: "CIUDAD DE MEXICO",
    10: "DURANGO", 11: "GUANAJUATO", 12: "GUERRERO", 13: "HIDALGO", 14: "JALISCO",
    15: "ESTADO DE MEXICO", 16: "MICHOACAN", 17: "MORELOS", 18: "NAYARIT", 19: "NUEVO LEON",
    20: "OAXACA", 21: "PUEBLA", 22: "QUERETARO", 23: "QUINTANA ROO", 24: "SAN LUIS POTOSI",
    25: "SINALOA", 26: "SONORA", 27: "TABASCO", 28: "TAMAULIPAS", 29: "TLAXCALA",
    30: "VERACRUZ", 31: "YUCATAN", 32: "ZACATECAS"
}

# 1. Convertimos a string y aplicamos limpieza general
df["ENTIDAD"] = df["ENTIDAD"].astype(str).str.strip()
df["ENTIDAD"] = df["ENTIDAD"].apply(lambda x: unidecode(x.upper()))

# 2. Reemplazo específico
df["ENTIDAD"] = df["ENTIDAD"].replace("MEXICO", "ESTADO DE MEXICO")

# 3. Lista válida (de referencia) de entidades esperadas
entidades_validas = set(ENTIDADES.values())

# 4. Identificamos valores no válidos antes de limpiar
valores_no_validos = set(df["ENTIDAD"].unique()) - entidades_validas
if valores_no_validos:
    print("⚠️ Valores no válidos encontrados en la columna 'ENTIDAD':")
    for val in sorted(valores_no_validos):
        print(f"  • {val}")
    print("\n🔍 Registros afectados:")
    print(df[df["ENTIDAD"].isin(valores_no_validos)][["ENTIDAD", "ARCHIVO_ORIGEN"]].head(10))  # muestra ejemplos

# 5. Opción: si quieres forzar que los no válidos se pongan como pd.NA
df.loc[~df["ENTIDAD"].isin(entidades_validas), "ENTIDAD"] = pd.NA

# 6. Finalmente, nos aseguramos de que el tipo sea string
df["ENTIDAD"] = df["ENTIDAD"].astype("string")

# Diagnóstico final
print("\n✅ Valores únicos en 'ENTIDAD':")
valores_ordenados = df["ENTIDAD"].value_counts(dropna=False).sort_index()
print(valores_ordenados)

# Número total de valores únicos (incluyendo NaN como categoría aparte)
num_unicos = df["ENTIDAD"].nunique(dropna=False)
print(f"\n🔢 Total de valores únicos en 'ENTIDAD' (incluyendo nulos): {num_unicos}")

print(f"Tipo: {df['ENTIDAD'].dtype} | Nulos: {df['ENTIDAD'].isna().sum()} | Únicos: {df['ENTIDAD'].nunique()}")

✅ Valores únicos en 'ENTIDAD':
ENTIDAD
AGUASCALIENTES          3104
BAJA CALIFORNIA         6646
BAJA CALIFORNIA SUR     1760
CAMPECHE                3185
CHIAPAS                 8185
CHIHUAHUA               8698
CIUDAD DE MEXICO       13371
COAHUILA                7047
COLIMA                  1896
DURANGO                 9243
ESTADO DE MEXICO       33932
GUANAJUATO             18031
GUERRERO               14730
HIDALGO                12499
JALISCO                22038
MICHOACAN               3585
MORELOS                 4817
NAYARIT                 4898
NUEVO LEON             10940
OAXACA                  2855
PUEBLA                 19955
QUERETARO               5763
QUINTANA ROO            3676
SAN LUIS POTOSI        13733
SINALOA                 9704
SONORA                  7442
TABASCO                 8192
TAMAULIPAS              9095
TLAXCALA                3374
VERACRUZ               36701
YUCATAN                 3983
ZACATECAS               8435
Name: count, dtype: Int64

🔢 Total de valores únicos en 'ENTIDAD' (incluyendo nulos): 32
Tipo: string | Nulos: 0 | Únicos: 32